In [22]:
import sqlite3

In [23]:
db=sqlite3.connect('ERD.db')

In [24]:
cur=db.cursor()

In [25]:
cur.execute('create table country(country_id primary key, country_iso_code,country_name)')

OperationalError: table country already exists

In [26]:
cur.execute('create table production_country(movie_id foreign key(movie_id) references movie(movie_id),country_id foreign key(country_id)references country(country_id))')

OperationalError: table production_country already exists

In [27]:
cur.execute('create table language(language_id primary key,language_code,language_name)')

OperationalError: table language already exists

In [28]:
cur.execute('create table movie_languages(movie_id foreign key(movie_id) references movie(movie_id),language_id foreign key(language_id) references language(language_id),language_role_id foreign key(language_role_id) references language_role(role_id))')

OperationalError: table movie_languages already exists

In [ ]:
cur.execute('create table language_role (role_id primary key,language_role)')

In [ ]:
cur.execute('create table genre(genre_id primary key,genre_name)')

In [29]:
cur.execute('create table movie_genre(movie_id foreign key(movie_id) references movie(movie_id),genre_id foreign key(genre_id) references genre(genre_id))')

OperationalError: table movie_genre already exists

In [ ]:
cur.execute('create table keyword(keyword_id primary key,keyword_name)')

In [32]:
cur.execute('create table movie_keywords(movie_id foreign key(movie_id) references movie(movie_id), keyword_id foreign key (keyword_id) references keyword (keyword_id)')

OperationalError: near "foreign": syntax error

In [33]:
cur.execute('create table movie(movie_id primary key,title,budget,homepage,overview,popularity,reelase_date,revenue,runtime,movie_status,tagline,votes_avg,votes_count)')

In [37]:
cur.execute("create table movi_company(movie_id FOREIGN KEY (movie_id) REFERENCES movie(movie_id) company_id FOREIGN KEY(company_id) REFERENCES production_company(company_id))")

OperationalError: near "FOREIGN": syntax error

In [38]:
cur.execute("create table production_company(company_id primary key,company_name)")

In [40]:
cur.execute("create table movie_cast(movie_id foreign key(movie_id) references movie(movie_id), gender_id foreign key(gender_id) references gender(gender_id), person_id foreign key(person_id) references movie_crew(person_id), character_name, cast_order")

OperationalError: near "foreign": syntax error

In [41]:
cur.execute('create table gender(gender_id primary key,gender)')

In [42]:
cur.execute('create table person(person_id primary key,person_name)')

In [43]:
cur.execute('create table movie_crew(person_id foreign key(person_id) references person(person_id),movie_id foreign key(movie_id) references movie(movie_id), department_id foreign key(department_id) references department(department_id))')

OperationalError: near "foreign": syntax error

In [44]:
cur.execute('create table department(department_id primary key, department_name)')

In [46]:

res=cur.execute('select * from movie')
res

In [47]:

res=cur.execute('select runtime from movie')
res

In [53]:


res=cur.execute('select * from movie where revenue=(select MAX(revenue) from movie)')
res

In [55]:


res=cur.execute('select title from movie where revenue or budget=(select max(revenue) or max(budget) from movie)')

res

In [58]:

res=cur.execute('select person.person_id, character_name, cast_order from movie_cast INNER JOIN person on movie_cast.person_id')

res

OperationalError: no such table: movie_cast

In [60]:
res=cur.execute('select country_id from production_country where movie_id=(select max(movie_id)  from production_country)')

res

In [62]:


res=cur.execute('select genre_id and genre_name from genre')

res

In [64]:



res=cur.execute('select language_name from language')
res

In [66]:


res=cur.execute('select movie_id, person_id, cast_order from movie_cast')
res

OperationalError: no such table: movie_cast

In [68]:

res=cur.execute('select title from movie ORDER By title desc')
res

In [70]:


res=cur.execute('select title from movie where revenue=(select max(revenue) from movie )')
res

In [71]:


res=cur.execute('select * from movie where movie_status=="Rumoured"')
res

In [73]:



res=cur.execute('select movie_id from production_country where revenue=(select max(revenue) from movie )')
res

OperationalError: no such column: revenue

In [75]:




res=cur.execute('select movie_id from movie_company=('select country_id from production_country')
res

SyntaxError: invalid syntax (Temp/ipykernel_11372/2678628702.py, line 1)