In [42]:
import sqlite3

In [43]:
db=sqlite3.connect('ERD.db')

In [44]:
curr=db.cursor()

In [ ]:
curr.execute('create table productlines(productline primary key,textDesc text,htmlDescription, image)')

In [ ]:
curr.execute('create table products(productCode int primary key,productName text, productLine,productSale,productVendor,prodDescription,quantityinstock,buyPrice,MSRP )')

In [ ]:
curr.execute('create table orderdetails(orderNumber primary key,productCode,quantityOrdered,priceEach,orderlinenumber)')

In [ ]:
curr.execute('create table employees(employeeNumber primary key,lastName,firstName,extension,email,officeCode,reportsTo,JobTitle)')

In [ ]:
curr.execute('create table offices(officecode primary key, city, phone, addressLine1, addressLine2, state,country,postalCode,teritory )')

In [ ]:
 curr.execute('create table cutomers(cutomsernumber primary key,customerName,contactLastName,contactFirstName,phone,addressLine1,addressline2,city,state,postalCode,country,salesRepEmployeeNumber,creditLimit)')

In [ ]:
curr.execute('create table orderss(orderNumber primary key,orderDate,requiredDate,shippedDate,status,comments,customerNumber)' )

In [ ]:
curr.execute('create table payments(customerNumber priamry key,checkNumber,paymentdate, amount)')

In [ ]:
res=curr.execute('select avg(shippedDate)from orderss')
res

In [ ]:
res=curr.execute('select avg(orderNumber)from orderss')
res

In [19]:

res=curr.execute('SELECT MIN(MSRP) FROM products') 
res

In [20]:
res=curr.execute('SELECT MAX(quantityinStock) FROM products') 
res

In [ ]:
res=curr.execute('SELECT * from orderdetails where max(quantityOrdered)') 
res

In [ ]:
res=curr.execute('SELECT * from payments where max(customerNumber)') 
res

In [ ]:
res=curr.execute('Select cutomerNumber, customerName from customers where city = 'Melbourne')
res

In [ ]:
res=curr.execute('select customerName from customers where customerName= "N"')
res

In [ ]:
res=curr.execute('select customerName from customers where phone= 7 AND city=="Las Vegas"')
res

In [ ]:
res=curr.execute('select customerName from customers where creditlimit<1000 AND city=="Las Vegas" or city=="Nantes" or city=="Stavern"')
res

In [36]:

res=curr.execute('select * from orderdetails where quantityordered<10')
res

In [ ]:

res=curr.execute('select orderNumber from orderss where customerName=="N"')
res

In [ ]:
res=curr.execute('select customerName from orderss where status=="Disputed"')
res

In [ ]:
res=curr.execute('select customerNumber from payments where checkNumber=="H"')
res

In [48]:
    
res=curr.execute('select checkNumber from payments where amount>1000')
res